mat-grid-list{
    height: 50vh;
}

.container{
    margin-top: 160px;
}

.card-like{
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    width: 90%;
    padding: 1em;
    text-align: center;
}

button{
    margin: 1em;
}